@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .form{
    display: flex;
    flex-direction: column;
    flex: wrap;
    width: 50%;
  }